<div class="left side-menu" style="z-index: 9999;">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu"> 
            <ul>
                <li class="text-muted menu-title">Navigation</li>

                <li>
                    <a href="/" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span>
                            Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-car"></i>
                        <span>Vehicles</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/vehicle/all">Vehicle List</a></li>
                        <li><a href="/assignment/all">Vehicle Assignment</a></li>
                        <!-- <li><a href="#">Expense history</a></li> -->
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-steering"></i>
                        <span>Operators</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/operator/all">Operator List</a></li>
                        <li><a href="/operator/add">Add Operator</a></li>
                        <!-- <li><a href="#">Assign Operator</a></li> -->
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-check"></i><span>
                            Inspections </span><span class="menu-arrow"></span></a> </a>
                    <ul class="list-unstyled">
                        <li><a href="/inspection/all">Inspection History</a></li>
                        <li><a href="/inspection/add">Add Inspection</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-warning"></i><span>
                            Issues </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/issue/all">Issue list</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/auth/logout" class="waves-effect"><i class="fa fa-sign-out"></i> <span>
                            Sign Out </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>